<%- include('../includes/head.ejs') %>
    <%- include('../includes/headers.ejs') %>


        <!-- ##### Breadcumb Area Start ##### -->
        <section class="breadcumb-area bg-img bg-overlay"
            style="background-image: url(src/utils/img/fondos/bg_01.jpg);">
            <div class="bradcumbContent">
                <!-- <p>See what’s new</p> -->
                <h2>SORTEOS</h2>
            </div>
        </section>
        <!-- ##### Breadcumb Area End ##### -->


        <!-- ##### Login Area Start ##### -->
        <div class="wrapper">
            <section id="servicios" class="seccion">
                <div class="container">
                    <div class="row">

                         <!-- 1 -->
                         <div class="columna columna-33 columna-mobile-100">
                            <div class="bloque-servicio">
                                <div class="bloque-img-servicio cuadrado-perfecto">
                                    <img src="src/utils/img/sorteos/sorteo_02.jpg">
                                </div>
                                <div class="bloque-contenido-servicio">
                                    <h3>ELECTRODOMESTICOS</h3>
                                    <p> • Código: 0001</p>
                                    <p> • Nombre: ElectroHogar</p>
                                    <p> • Dirección: CLL 10 #47-81</p>
                                    <p> • fecha: 14 de Agosto 2021</p>
                                    <p> • Hora: Todo el dia</p>
                                    <p> • Contacto: 3115486952</p>
                                    <a href="/" class="boton boton-blanco"><span>Click Aqui para participar</span></a>

                                </div>
                            </div>
                        </div>

                        <!-- 2 -->
                        <div class="columna columna-33 columna-mobile-100">
                            <div class="bloque-servicio">
                                <div class="bloque-img-servicio cuadrado-perfecto">
                                    <img src="src/utils/img/sorteos/sorteo_02.jpg">
                                </div>
                                <div class="bloque-contenido-servicio">
                                    <h3>ELECTRODOMESTICOS</h3>
                                    <p> • Código: 0002</p>
                                    <p> • Nombre: ElectroHogar</p>
                                    <p> • Dirección: CLL 10 #47-81</p>
                                    <p> • fecha: 14 de Agosto 2021</p>
                                    <p> • Hora: Todo el dia</p>
                                    <p> • Contacto: 3115486952</p>
                                    <a href="/" class="boton boton-blanco"><span>Click Aqui para participar</span></a>

                                </div>
                            </div>
                        </div>

                        <!-- 3 -->
                        <div class="columna columna-33 columna-mobile-100">
                            <div class="bloque-servicio">
                                <div class="bloque-img-servicio cuadrado-perfecto">
                                    <img src="src/utils/img/sorteos/sorteo_03.jpg">
                                </div>
                                <div class="bloque-contenido-servicio">
                                    <h3>RECARGAS</h3>
                                    <p> • Código: 0003</p>
                                    <p> • Nombre: SuperCell Tecnology</p>
                                    <p> • Dirección: KRA 49 #70-349</p>
                                    <p> • Fecha: Todos los sabados</p>
                                    <p> • Hora: Todo el dia</p>
                                    <p> • Contacto: 3005695822</p>
                                    <a href="/" class="boton boton-blanco"><span>Click Aqui para participar</span></a>

                                </div>
                            </div>
                        </div>

                        <!-- 4 -->
                        <div class="columna columna-33 columna-mobile-100">
                            <div class="bloque-servicio">
                                <div class="bloque-img-servicio cuadrado-perfecto">
                                    <img src="src/utils/img/sorteos/sorteo_01.jpg">
                                </div>
                                <div class="bloque-contenido-servicio">
                                    <h3>BOLETOS</h3>
                                    <p> • Código: 0004</p>
                                    <p> • Nombre: The Best of Reggaeton</p>
                                    <p> • Lugar: Centro de eventos la Macarena</p>
                                    <p> • Fecha: 15 de Septiembre 2021</p>
                                    <p> • Hora: 8:00 pm</p>
                                    <p> • Contacto: 3108422270</p>
                                    <a href="/" class="boton boton-blanco"><span>Click Aqui para participar</span></a>


                                </div>
                            </div>
                        </div>

                        <!-- 5 -->
                        <div class="columna columna-33 columna-mobile-100">
                            <div class="bloque-servicio">
                                <div class="bloque-img-servicio cuadrado-perfecto">
                                    <img src="src/utils/img/sorteos/sorteo_02.jpg">
                                </div>
                                <div class="bloque-contenido-servicio">
                                    <h3>ELECTRODOMESTICOS</h3>
                                    <p> • Código: 0005</p>
                                    <p> • Nombre: ElectroHogar</p>
                                    <p> • Dirección: CLL 10 #47-81</p>
                                    <p> • fecha: 14 de Agosto 2021</p>
                                    <p> • Hora: Todo el dia</p>
                                    <p> • Contacto: 3115486952</p>
                                    <a href="/" class="boton boton-blanco"><span>Click Aqui para participar</span></a>

                                </div>
                            </div>
                        </div>

                        <!-- 6 -->
                        <div class="columna columna-33 columna-mobile-100">
                            <div class="bloque-servicio">
                                <div class="bloque-img-servicio cuadrado-perfecto">
                                    <img src="src/utils/img/sorteos/sorteo_03.jpg">
                                </div>
                                <div class="bloque-contenido-servicio">
                                    <h3>RECARGAS</h3>
                                    <p> • Código: 0006</p>
                                    <p> • Nombre: SuperCell Tecnology</p>
                                    <p> • Dirección: KRA 49 #70-349</p>
                                    <p> • Fecha: Todos los sabados</p>
                                    <p> • Hora: Todo el dia</p>
                                    <p> • Contacto: 3005695822</p>
                                    <a href="/" class="boton boton-blanco"><span>Click Aqui para participar</span></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ##### Login Area End ##### -->

            <%- include('../includes/footer.ejs') %>