<%- include('../includes/head.ejs') %> 
<%- include('../includes/headers.ejs') %> 

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(src/utils/img/fondos/bg_01.jpg);">
    <div class="bradcumbContent">
        <!-- <p>See what’s new</p> -->
        <h2>!Importante¡</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Términos y Condiciones</h3>
                    <!-- Login Form -->
                    <div class="login-form">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet impedit voluptatum dolore molestiae consequatur neque fugit? Cupiditate voluptatem, pariatur odio qui enim inventore harum reprehenderit nihil, ut autem id iure.
                        Suscipit itaque pariatur ipsam odit neque quas ex, sapiente quibusdam, architecto consectetur alias recusandae facere, odio dolore excepturi! Blanditiis sequi ad quam excepturi illum, enim numquam minus inventore eius adipisci!
                        Iusto consequuntur aperiam dolor velit consectetur odit, eos explicabo, molestias numquam, repellendus nihil reprehenderit doloribus! Enim optio laboriosam quasi beatae, fuga, earum iusto eligendi odit reiciendis soluta cumque! Assumenda, dolores?
                        Iusto, enim temporibus. Ut itaque aspernatur dolore, maiores impedit, iure libero pariatur enim voluptatem corporis nihil aliquam hic minima et dicta qui doloribus earum. Ex nihil dolorum distinctio suscipit deserunt!
                        Sapiente non fuga, voluptas vel placeat iure praesentium voluptate quae! Quod laboriosam numquam omnis hic iste veritatis, illo provident aliquid recusandae eum distinctio voluptatum labore blanditiis voluptate enim, totam iure!
                        Qui reiciendis aut atque illo facere voluptate vitae. Velit maiores dolorem soluta vero eveniet est vitae totam aspernatur exercitationem neque recusandae quos at ad, nesciunt perspiciatis nisi. Sint, ullam eos.
                        Tempore iste ad ex, iure ducimus, soluta nisi ipsam incidunt deleniti saepe architecto quam dolore libero pariatur laborum maiores dolorum neque laboriosam dolor facilis? Distinctio sint numquam culpa quibusdam voluptatum?
                        Explicabo sequi quas soluta, sint temporibus facilis officiis architecto aperiam id quibusdam nulla? In enim expedita, molestiae rerum a sunt amet doloribus consequatur! Tempore dolor eveniet dolorum porro. Corrupti, qui?
                        Numquam, iusto est. Placeat tenetur at modi, necessitatibus recusandae itaque eaque assumenda, veniam saepe impedit eligendi illum eum mollitia pariatur quidem? Obcaecati, molestias expedita voluptatem nesciunt eius provident possimus aut?
                        Id possimus, ipsam perspiciatis dolore nihil molestias explicabo corporis saepe amet quam quo perferendis commodi praesentium eius illum eaque eos! Adipisci expedita iste sit eos voluptatum, totam nisi magnam ipsam.
                        Et placeat ipsum assumenda expedita amet in necessitatibus veritatis mollitia deserunt reiciendis incidunt atque nesciunt iste obcaecati eveniet voluptatibus qui commodi vel, est dignissimos doloremque iure molestias. Sint, tempora ullam?
                        Perferendis exercitationem temporibus, eius sed ipsa ipsam aut assumenda nam ipsum ea nihil aliquid? Eaque natus hic eius est rerum aperiam, in amet illum nisi accusamus culpa quas explicabo? Ab?
                        Explicabo quibusdam nisi non corporis necessitatibus minus impedit, laudantium aliquam veritatis quod placeat nemo quaerat expedita est qui? Inventore amet eligendi aliquid numquam tempora sequi ipsam accusantium ducimus rerum blanditiis.
                        Porro itaque est molestias voluptatibus quisquam earum totam. Laborum ea atque, eaque dolorum vel dignissimos, quibusdam totam animi consectetur soluta perferendis! Nihil ut error blanditiis sint deleniti quod vero numquam.
                        Consequuntur fuga ea, similique deleniti esse dolorum aliquam eius voluptatibus non suscipit enim voluptate ducimus voluptas nostrum veritatis earum facere laudantium tempora? Rerum vitae repudiandae labore dolor doloremque tempore illum.
                        Repellendus maiores veniam, id praesentium reprehenderit nisi dolor eum ut, blanditiis, tenetur expedita doloremque accusamus? Inventore perspiciatis temporibus porro tempore deleniti cupiditate nostrum beatae adipisci eaque pariatur assumenda, consectetur aliquid.
                        Doloremque repellendus ut laborum dolor quo nam, tempore molestias saepe tenetur deleniti eveniet officiis alias blanditiis perferendis similique numquam commodi vero, quasi animi hic omnis sint. Voluptas tempore quod aliquam.
                        Ad dolores veritatis ipsa, pariatur est nesciunt! Sequi, voluptatum, nisi facilis autem et quo mollitia debitis sed quidem nihil nemo harum sit maxime repellendus, amet odio molestiae architecto iure deleniti!
                        Odit recusandae, natus ipsum modi numquam vitae ad magni tenetur sapiente fugit, similique quo commodi quasi. Nostrum obcaecati, eveniet repellendus qui, natus facere vitae explicabo eligendi repudiandae, recusandae ipsum impedit.
                        Earum minima quam explicabo. Animi nihil quidem eius magnam facilis quaerat eaque laudantium sapiente harum delectus error magni quos cumque nostrum totam iste voluptatibus ratione labore quis, provident soluta sed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->

<%- include('../includes/footer.ejs') %> 